
.uk-navbar-container {
    background-color: black;
}


#logo {
    width: 10rem;
}

.uk-search {
    width: 750px;
    margin-top: 50px;
}

#searchBar {
    border-radius: 50px;
}

.uk-checkbox {
    border-radius: 5px;
}

.textBottom {
    text-align: center;
    margin-top: 100px;
}

.pastSearches {
    text-align: center;
    margin-top: 100px;
}


.text {
    text-align: center;
}

#searchButton, #searchRandom {
    border-radius: 50px;
}

.limitColumnstatus {
    max-width: 700px;
}